/* ==========================================================================
Main page styles
========================================================================== */
.card {
  border: none;
  width: 100%;
  padding: 0;
}

.hipster {
  display: flex;
  width: 75%;
  height: 400px;
  background: url('../../../content/images/logo-landing-page.svg') center no-repeat;
  background-size: auto;
  background-size: contain;
  align-content: center;
  margin: 0 auto;
}

.btn {
  width: max-content;
  height: 44px;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-btn {
  background-color: #44ee77;
}

.register-btn {
  background-color: #019992;
}

.buttons-row {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-row,
.second-col-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-col {
  display: flex;
  width: max-content;
  justify-content: space-around;
}

.buttons-separator {
  font-size: 10px;
  color: #000000;
}

.second-col-container {
  width: 580px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.second-col-content {
  width: 400px;
  flex-wrap: wrap;
}

.second-col-wrapper {
  margin: 0 auto;
  font-size: 38px;
  font-weight: bold;
}

.special-content {
  color: #019992;
}

.partners-list-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  font-size: 32px;
  font-weight: bold;
}
